body {
    background-image: url("old-paper.jpg");
    color: rgb(48, 35, 35);
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

h1, h2, h3, h4, h5 {
    font-family: "Libre Caslon Text", serif;

}

figure {
    border: thin saddlebrown solid;
    font-family: "Libre Caslon Text", serif;
    font-style: italic;
}

